.title{
    font-size: 20px;
    color: rgb(220, 18, 18);
    margin-left: 20px;
}
.post{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.poster{
    max-width: 250px;
    max-height: 300px;
    margin-left: 25px;
    margin-top: 0px;
}
.post::-webkit-scrollbar{
    display: none;
}